[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flair = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
tqdm = "*"
scikit-learn = "*"
fastapi = "*"
isort = "*"
joblib = "*"
flask = "*"
pandas = "*"
uvicorn = "*"

[packages]

[scripts]
format = 'yapf --recursive -i'
sort = 'isort -rc'
setup = 'python3 setup.py develop'
api = 'uvicorn main:app --reload'

[requires]
python_version = "3.7"
