[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flair = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
tqdm = "*"
scikit-learn = "*"
joblib = "*"
fastapi = "*"
isort = "*"

[packages]

[scripts]
format = 'yapf --recursive -i examples'

[requires]
python_version = "3.7"
